@{
    Layout = null;
}
<a href="/Default/Index">Index Sayfası</a> <a href="/Default/Musteriler">Müşteriler Sayfası</a>
<h1>Ürünler Sayfası</h1>
<h3>@ViewBag.m1</h3>
<h2>@ViewBag.m2</h2>
<h1>@ViewBag.m3</h1>

<center><h1>@ViewBag.t</h1></center>
<center><h1>@ViewBag.c</h1></center>
<h1>@ViewBag.v</h1>
<h1>@ViewBag.Faktor</h1>

